@import "normalize";
@import "settings";
@import "foundation";
@import "compass/css3";
body{
  background-color: #E2E2E2;
}

#page{
  max-width: lower-bound($large-range) ;
  background-color: #ffffff;
  padding: 10px;
  @media #{$large-up} {
    margin: 20px auto;
    @include box-shadow( 0px 0px 10px 5px rgba(102,102,102,0.85));
  }
}